@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap");
:root {
  --clr-primary-accent: #1e7b67;
  --clr-secondary-accent: #5e9a8d;
  --clr-accent-font: #649e93;
  --clr-primary-font: #212529;
  --clr-secondary-font: #616263;
  --clr-white-font: #fff;
  --clr-gradient: linear-gradient(rgba(100, 158, 147, 0.5), rgba(0, 0, 0, 0.5));
  --clr-gradient-light: rgba(192, 192, 192, 0.24);
  --font-fancy: "Great Vibes", cursive;
  --font-primary: "Mulish", sans-serif;
  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --line-height: 1.5;
  --letter-spacing: 0.03rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

:focus {
  outline: none;
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  min-width: 250px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--clr-primary-accent);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 0px 10px;
}

header .header-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  color: var(--clr-white-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container a {
  color: var(--clr-white-font);
  font-family: var(--font-fancy);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container span {
  padding: 0 10px;
}

header .header-container .mobile-menu button {
  background-color: transparent;
  color: var(--clr-white-font);
  cursor: pointer;
}

header .header-container .mobile-menu svg {
  font-size: 30px;
  font-weight: var(--fw-regular);
}

main {
  min-height: calc(100vh - 65px);
  background-color: #000;
  position: relative;
}

main::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background: url(http://lavelo-react.wpocean.com/static/media/1.4390f2ac.jpg);
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

main .landing-content img {
  max-height: 350px;
  max-width: 80%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

main .landing-content {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .text-content {
  z-index: 5;
  position: absolute;
  color: var(--clr-white-font);
  text-align: center;
}

main .text-content h4 {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: 15px;
}

main .text-content h2 {
  font-weight: var(--fw-extra-light);
  font-family: var(--font-fancy);
  font-size: 40px;
  margin-top: 10px;
}

.countdown {
  background: #303e441a;
  padding: 50px 20px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countdown .countdown-wrapper {
  max-width: 1100px;
  width: 100%;
  padding: 30px;
  background-color: var(--clr-accent-font);
  color: var(--clr-white-font);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.countdown .countdown-wrapper .countdown-textarea {
  padding: 20px;
}

.countdown .countdown-wrapper .countdown-textarea p {
  font-family: var(--font-primary);
  font-size: 18px;
  margin-bottom: 20px;
}

.countdown .countdown-wrapper .countdown-textarea h2 {
  font-family: var(--font-fancy);
  font-size: 40px;
}

.countdown .countdown-wrapper .countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.countdown .countdown-wrapper .countdown-timer .timer {
  margin: 5px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 0.5px solid var(--clr-white-font);
  height: 130px;
  width: 130px;
}

.countdown .countdown-wrapper .countdown-timer p {
  font-family: var(--font-primary);
  font-size: 14px;
}

.countdown .countdown-wrapper .countdown-timer h1 {
  font-family: var(--font-fancy);
  font-size: 50px;
}

.couple {
  max-width: 1000px;
  padding: 20px;
  margin: 65px auto;
}

.couple h2 {
  font-family: var(--font-fancy);
  color: var(--clr-accent-font);
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.couple h2::after {
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  height: 40px;
  width: auto;
  background-image: url(Assets/underline.png);
  background-repeat: no-repeat;
  background-position: center;
}

.couple .couple-tile {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: var(--font-primary);
}

.couple .couple-tile .bride,
.couple .couple-tile .groom {
  padding: 10px;
}

.couple .tile-image {
  max-height: 300px;
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
  border-radius: 50%;
}

.couple .name {
  color: var(--clr-secondary-accent);
  margin: 20px 0px;
}

.couple .detail {
  margin-bottom: 40px;
  font-size: 13px;
}

.tile-seperator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tile-seperator img {
  width: 130px;
}

.welcome-area {
  background-color: var(--clr-primary-font);
  background-image: url(Assets/welcomeArea.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--clr-white-font);
  padding: 20px;
}

.welcome-area h2 {
  font-family: var(--font-fancy);
  font-size: 40px;
  font-weight: var(--fw-light);
  margin-bottom: 20px;
}

.welcome-area p {
  max-width: 600px;
  font-family: var(--font-primary);
  font-size: 13px;
  margin-bottom: 20px;
}

.welcome-area button {
  padding: 10px 35px;
  border-radius: 20px;
  color: var(--clr-primary-accent);
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
}

.welcome-area button:hover {
  background-color: #1e7b67;
  color: var(--clr-white-font);
}

@media screen and (max-width: 600px) {
  main .landing-content img {
    height: 270px;
    width: auto;
  }
  .couple-tile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .couple-tile .tile-seperator img {
    display: none;
  }
  .countdown-timer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */